#photo {
		background-color: lightgray;
	}
	
	.ic {
		font-size: 32px;
	}
	
	a {
		font-size: 20px;
	}
	
	p {
		font-size: 16px;
	}
	
	i,h1 {
		color:darkslateblue!important;
	}
	
	h2,h3 {
		color:darkslategray!important;
	}
	
	.inl-pb, .inl {
		display: flex!important;
		    margin-right: -80px;
	}
	
	.cf {
		background: white;
		position: relative;
		left: -112px;
		top: 12px;
		width: 100px;
		height: 100px;
		border-radius:50%;
		font-family: monospace;
		font-size:23px;
		color:#666;
		line-height:50px;
		text-align:center;
	}
	
	.cb {
		background: whitesmoke;
		background-image: linear-gradient(-72deg,transparent 50%, #03A9F4 50%),linear-gradient(0deg, #03A9F4 50%, transparent 50%);
		width:125px;
		height:125px;
		border-radius:50%;
	}
	
	.pb30 {
		background-image: linear-gradient(0deg,transparent 50%, whitesmoke 50%),linear-gradient(-72deg, #03A9F4 50%, transparent 50%);
	}

	.pb40 {
		background-image: linear-gradient(0deg,transparent 50%, whitesmoke 50%),linear-gradient(-36deg, #03A9F4 50%, transparent 50%);
	}

	.pb50 {
		background-image: linear-gradient(180deg,transparent 50%, #03A9F4 50%),linear-gradient(0deg, #03A9F4 50%, transparent 50%);
	}

	.pb60 {
		background-image: linear-gradient(-144deg,transparent 50%, #03A9F4 50%),linear-gradient(0deg, #03A9F4 50%, transparent 50%);
	}
	
	.pb80 {
		background-image: linear-gradient(-72deg,transparent 50%, #03A9F4 50%),linear-gradient(0deg, #03A9F4 50%, transparent 50%);
	}